.movie-card{
    width: 350px;
    height: 725px;
    margin: 10px;
    background-color: #181A1B;
    color: #A8A095;
}

.Alli {
    text-shadow: 4px 0px 4px #00000071;
    text-align: center;
    font-weight: bold;
}


.Image{
    padding-left: 1.6rem;
    padding-top: 1.2rem;
    padding-right: 1.55rem;
    padding-bottom: 1.2rem;
    background-color: #EDEDE7;
    border: 1px solid #593723;
    -moz-box-shadow: 0 10px 0 0 #593723, 0 7px 10px 5px #797a76;
    -webkit-box-shadow: 0 10px 0 0 #593723, 0 7px 10px 5px #797a76;
    box-shadow: 0 5px 0 0 #593723, 0 7px 10px 5px #797a76;
    color: #593723;
    display: block;
    padding: 4px;
    width: 350px;
    top: 0;
    text-decoration: none;
    align-content: center;
}

.Image:hover, .Image:focus {
    -moz-box-shadow: 0 2px 0 0 #593723, 0 2px 2px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 2px 0 0 #593723, 0 2px 2px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 0 0 #593723, 0 2px 2px 1px rgba(0, 0, 0, 0.8);
    top: 8px;
    cursor: pointer;
}

.Image:active {
    -moz-box-shadow: inset 0 2px 2px 1px #593723, 0 0 0 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 2px 2px 1px #593723, 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 2px 1px #593723, 0 0 0 0 rgba(0, 0, 0, 0.1);
    top: 10px;
    align-self: center;
    cursor: pointer;
}